src/main/mule/implementations/update-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	
	
    <flow name="put:\cases:application\xml:uhub-sapi-config">
		<ee:transform doc:name="Converting To CovidPaylaod" doc:id="67f5af08-d1a8-4696-92a1-940b8df01c44" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="correlationId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.'x-correlation-id' default payload.covidCase.caseID]]></ee:set-variable>
				<ee:set-variable variableName="covidPayload" ><![CDATA[%dw 2.0
output application/json
---
payload.covidCase]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Start Log" doc:id="e025d3ae-b877-4621-a23c-3cbff7548b8a" message='transcationId:#[vars.transcationId],correlationId:#[vars.correlationId],message:"Started update covid case flow",payload:#[payload]' />
		<ee:transform doc:name="Transformin Xml to Paylaod" doc:id="087e4249-0858-4507-a712-bb2d546591bb" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="covidCasePayload" ><![CDATA[%dw 2.0
output application/java
var owner="UHIS"
var date=now() as String {
	format: "yyyy-MM-dd"
}
---
{
	national_id: payload.covidCase.nationalID,
	street_address: payload.covidCase.address.streetAddress,
	country: payload.covidCase.address.country,
	city: payload.covidCase.address.city,
	date_of_birth: payload.covidCase.dateOfBirth,
	case_type: payload.covidCase.caseType,
	last_name: payload.covidCase.lastName,
	source: payload.covidCase.source,
	national_id_type: payload.covidCase.nationalIDType,
	update_date: date,
	create_by: owner,
	phone: payload.covidCase.phone,
	case_id: payload.covidCase.caseID ,
	state: payload.covidCase.address.state,
	postal: payload.covidCase.address.postal,
	update_by: owner,
	first_name: payload.covidCase.firstName,
	email: payload.covidCase.email
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:update doc:name="Update Covid Case Data into DataBase" doc:id="94acc413-54e5-42e8-b740-1286268f8536" config-ref="Database_Config" >
			<db:sql ><![CDATA[update cvd_case_master set source=:source, case_type=:case_type, first_name=:first_name, last_name=:last_name, phone=:phone, email=:email, date_of_birth=To_date(:date_of_birth, 'YYYY-MM-DD'), national_id=:national_id, national_id_type=:national_id_type, street_address=:street_address, city=:city, state=:state, postal=:postal, country=:country, update_date=To_date(:update_date,'YYYY-MM-DD'), create_by=:create_by, update_by=:update_by  where case_id =:case_id]]></db:sql>
			<db:input-parameters ><![CDATA[#[vars.covidCasePayload]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Output as Case Id" doc:id="b21efa69-c4f9-4813-9195-ada9dfe42898" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
if (payload.affectedRows > 0){
	
	CaseID: vars.covidCasePayload.case_id
	
}
else{
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="4c519a27-723b-4c83-bd0f-b99bf9c0dcd0" message='transcationId:#[vars.transcationId],correlationId:#[vars.correlationId],message:"Completed update covid case flow",payload:#[payload]' />
    
</flow>
</mule>
